<h1>Places I've been</h1>

<ul>
  <% for place in @places %>
    <li>
      <a href="places/<%=place["id"]%>"><%=place["name"] %></a>
    </li>
  <% end %>
</ul>

<a href= "https://3000-sdluna-hw3-jec4slfnza0.ws-us108.gitpod.io/places/new">New Place</a>
